<style>


.flex-post-panel {
   display: flex;
   width: 400px;
   padding-top: 10px;
   border: thin WhiteSmoke solid;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flex-post-title {
   display: inline-flex;
   width: 400px;
   height: 40px;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 5px;
   padding-bottom: 5px;
   flex-wrap: nowrap;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.flex-divider {
   display: inline-flex;
   width: 400px;
   height: 20px;
   flex-wrap: nowrap;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.flex-photo-column {
  display: inline-flex;
  width: 190px;
  height: 500 px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.vote-box {
  display: inline-flex
  width: 190px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: medium #D8BFD8 solid;
}

.like-button {
  background-color: White; /* Blue background */
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
}

.look-header {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: Thistle;
}

.span-user {
  vertical-align: middle;
  line-height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: Gray;
  font-weight: bold;
}

.edit-profile {
  border-radius: 8px;
  background: Thistle;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80px;
  height: 25px;
  vertical-align: center;
  text-align: center;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: White;
  font-size: 10px;
}

.delete-button {
  background-color: Thistle; 
  border: none; /* Remove borders */
  cursor: pointer; /* Mouse pointer on hover */
  color: White;
}

.span-timestamp {
  vertical-align: middle;
  justify-content: right;
  line-height: 40px;
}

.post-details {
  background: White;
  padding-top: 0px;
  padding-left: 5px;
  padding-bottom: 0px;
  width: 300px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  color: Gray;
  font-size: 12px;
}

.event-tag {
  border-radius: 8px;
  background: WhiteSmoke;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80px;
  height: 25px;
  vertical-align: center;
  text-align: center;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  box-shadow: 0px; !important;
  color: Thistle;
  font-size: 10px;
}

.flex-delete {
   display: inline-flex;
   width: 400px;
   height: 40px;
   padding-left: 5px;
   padding-right: 5px;
   padding-top: 5px;
   padding-bottom: 5px;
   flex-wrap: nowrap;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
}


</style>

<% poster_username = @current_user.username %>
<% poster_avatar = Headshot.where({ :id => @current_user.headshot_id }).first.image %>
    
<div class="flex-post-panel">
  <a href="/feed/<%= poster_username %>">
    <% if Headshot.where({ :id => @current_user.headshot_id }).first.image_identifier == nil %>
      <img src="/default-avatar.png" class="avatar">
    <% else %>
      <img src="<%= poster_avatar %>" class="avatar">
    <% end %>
  </a>
  <span class="span-user" style="font-size:100%;"> <%= poster_username %> 
  </span>
  <div class="edit-profile">
    <form action="/edit_user">
      <button class="delete-button"> Edit Profile </button>
    </form>
  </div>

  <% @posts.where({ :poster_id => @current_user.id }).each do |post| %>
      <% vote1 = Vote.where({ :voter_id => @current_user.id, :bestoutfit_id => post.outfit1_id }).first %>
      <% vote2 = Vote.where({ :voter_id => @current_user.id, :bestoutfit_id => post.outfit2_id }).first %>

      <% vote1_count = Vote.where({ :bestoutfit_id => post.outfit1_id }).all.count %>
      <% vote2_count = Vote.where({ :bestoutfit_id => post.outfit2_id }).all.count %>

      <% style1 = Outfit.where({ :id => post.outfit1_id }).first %>
      <% style1_image = style1.image %>

      <% style2 = Outfit.where({ :id => post.outfit2_id }).first %>
      <% style2_image = style2.image %>   

      <% post_event = Event.where({ :id => post.event_id }).first %>
      <% event_tag = post_event.tag %>

    <div class="flex-post-title">
      <div class="post-details">
        <span class="span-timestamp" style="font-size:80%"> <%= time_ago_in_words(post.created_at) %> ago </span>
      </div>
      <div class="event-tag">
        <%= event_tag %>
      </div>
    </div>
    
    <div class="row-p-b-5">
      <div class="flex-photo-column">
        <span class="look-header"> </span>
        <img src="<%= cloudinary_url(style1_image, :width=>190, :height=>400, :crop=>"fit")%>">
        <div class="vote-box">
          <% if vote1 == nil && vote2 ==nil %>
            <form action="/insert_vote" method="post">
            <input type="hidden" value="<%= post.id %>" name="post_id_from_query">
            <input type="hidden" value="<%= post.outfit1_id %>" name="bestoutfit_id_from_query">   
            <button class="like-button"> <i class="fas fa-heart" style="color:#D8BFD8; font-size:25px;"> </i> </button>
            </form>
          <% elsif vote1 == nil %>
            <i class="far fa-heart" style="color:#D8BFD8; font-size:25px;"> </i>
          <% elsif vote1 != nil %>
            <i class="fas fa-heart" style="color:#D8BFD8; font-size:30px;"> </i>
          <% end %>
        </div>
          <% if vote1_count > vote2_count %>
            <span style="font-family:'Nunito', sans-serif; color:#D8BFD8; font-weight: bold; font-size: 15px;"> Looksy's Vote  </span>
          <% else %>
          <% end %>   
      </div>
      <div class="flex-photo-column">
        <span class="look-header"></span>
          <img src="<%= cloudinary_url(style2_image, :width=>190, :height=>400, :crop=>"fit")%>">
            <div class="vote-box">
              <% if vote1 == nil && vote2 ==nil %>
                <form action="/insert_vote" method="post">
                <input type="hidden" value="<%= post.id %>" name="post_id_from_query">
                <input type="hidden" value="<%= post.outfit1_id %>" name="bestoutfit_id_from_query">   
                <button class="like-button"> <i class="fas fa-heart" style="color:#D8BFD8; font-size:25px;"> </i> </button>
                </form>
              <% elsif vote2 == nil %>
                <i class="far fa-heart" style="color:#D8BFD8; font-size:25px;"> </i>
              <% elsif vote2 != nil %>
                <i class="fas fa-heart" style="color:#D8BFD8; font-size:30px;"></i>
              <% end %>
            </div>
              <% if vote2_count > vote1_count %>
                <span style="font-family:'Nunito', sans-serif; font-weight: bold, color: Thistle; font-size: 15px;"> Looksy's Vote  </span>
              <% else %>
              <% end %>         
      </div>
    </div>  
    
    <div class="flex-delete">
      <form action="/delete_post">
        <input type="hidden" value="<%= post.id %>" name="post_id_from_query">
          <button type="submit" class="like-button">
            <i class="far fa-trash-alt" style="color:Gray;"></i>
          </button>
      </form>
    </div>

    <div class="flex-divider">
    </div>

  <% end %>

</div>
