<style>
.btn {
  
  background-color: Violet; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.btn:hover {
  background-color: Tomato;
}
</style>

<div class="container">
    <div class="row Header">
        <div class="col-sm-12" align="center"> 
        <h1> <%= @current_user.username %>'s Feed </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4"> 
        </div>
        <div class="col-lg-4" align="center">
            <body> 
              <form action="/new_post">
                <button type="submit" class="btn"> Upload a new post </button>
              </form>
            </body>
        </div>
        <div class="col-lg-4">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4"> 
        </div>
        <div class="col-lg-4" align="center">
            <body> 
              <form action="/edit_user">
                <button type="submit" class="btn"> Update Profile </button>
              </form>
            </body>
        </div>
        <div class="col-lg-4">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12"></div>
    </div>

    <hr>
    <div class="row">
        <div class="col-lg-2" align="center"> Outfit 1 </div>
        <div class="col-lg-2" align="center"> Likes </div>
        <div class="col-lg-2" align="center"> Outfit 2 </div>
        <div class="col-lg-2" align="center"> # of Likes </div>
        <div class="col-lg-2" align="center"> Rosey's Vote </div>
        <div class="col-lg-2" align="center"> Delete Post </div>
    </div>

  <% @posts.where({ :poster_id => @current_user.id }).each do |post| %>
    <% style1 = Outfit.where({ :id => post.outfit1_id }).first %>
    <% style1_image = style1.image %>

    <% style2 = Outfit.where({ :id => post.outfit2_id }).first %>
    <% style2_image = style2.image %>

    <div class="row">
        <div class="col-lg-2" align="center"> <img height=100 src="<%= style1_image %>" class="img-responsive"> </div>
        <div class="col-lg-2" align="center"> <%= Vote.where({ :post_id => post.id, :bestoutfit_id => post.outfit1_id }).count %> </div>
        <div class="col-lg-2" align="center"> <img height=100 src="<%= style2_image %>" class="img-responsive"> </div>
        <div class="col-lg-2" align="center"> <%= Vote.where({ :post_id => post.id, :bestoutfit_id => post.outfit2_id }).count %> </div>
        <div class="col-lg-2" align="center">       
          <% if Vote.where({ :post_id => post.id, :bestoutfit_id => post.outfit1_id }).count >
            Vote.where({ :post_id => post.id, :bestoutfit_id => post.outfit2_id }).count %>
              You should wear Outfit 1! 
            <% elsif Vote.where({ :post_id => post.id, :bestoutfit_id => post.outfit2_id }).count > 
            Vote.where({ :post_id => post.id, :bestoutfit_id => post.outfit1_id }).count %>
              You should wear Outfit 2!
            <% else %>
              The Jury is still out!
          <% end %> 
        </div>
        <div class="col-lg-2" align="center">
          <form action="/delete_post">
          <input type="hidden" value="<%= post.id %>" name="post_id_from_query">
            <button type="submit" class="btn">
              Delete this post
            </button>
        </div>
    </div>
  <% end %>
</div>