<style>

  .flex-pagerunner {
    display: inline-flex;
    width: 100%;
    padding-bottom: 5%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: Thistle;
  }

  .arrow-left {
    position: absolute;
    background-color: none;
    left: 2%;
    top: 0%;
    z-index: 1;
    color: Tomato;
    border-radius: 50%;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    font-family: 'Pacifico', cursive;
  }

  .arrow-right {
    position: absolute;
    background-color: none;
    left: 2%;
    top: 0%;
    z-index: 1;
    color: Tomato;
    border-radius: 50%;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    font-family: 'Pacifico', cursive;
  }

  .event-tag {
    border-radius: 8px;
    background: rgba(255, 99, 71, 0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;
    height: 25px;
    vertical-align: center;
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: Gray;
    font-size: 12px;
  }

  .button {
    background-color: White; /* Blue background */
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
}

  .flex-pagerunner {
    display: inline-flex;
    width: 100%;
    padding-bottom: 8%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: Thistle;
  }

  .flex-postdetails {
    display: inline-flex;
    width: 100%;
    padding-top: 5%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: Thistle;
  }

  .flex-user {
    display: inline-flex;
    width: 100%;
    padding-top: 5%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: Thistle;
  }

  .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: medium LightGray solid;
  }

  .event-tag {
    border-radius: 8px;
    background: rgba(255, 99, 71, 0.2);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;
    height: 25px;
    vertical-align: center;
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: Gray;
    font-size: 12px;
  }

  .button {
    background-color: White; /* Blue background */
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
}

  .edit-button {
    background-color: rgba(255, 99, 71, 0);
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
    color: White;
  }

  .btn-edit-profile {
    border-radius: 8px;
    background-color: rgba(255, 99, 71, 0.4);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;
    height: 25px;
    vertical-align: center;
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: White;
    font-size: 10px;
  }

</style>

<% poster_username = @current_user.username %>
<% if @current_user.headshot_id == nil %>
  <% poster_avatar = "/default-avatar.png" %>
<% else %>
  <% poster_avatar = Headshot.where({ :id => @current_user.headshot_id }).first.image %>
<% end %>

<div class="container">

<hr>

  <div class="flex-user">
    <img src="<%= poster_avatar %>" class="avatar">
    <span class="span-user" style="font-size:100%; color: rgba(255, 99, 71, 0.7);"> 
      <%= poster_username %> 
    </span>
    <div class="btn-edit-profile">
      <form action="/edit_user">
        <button class="edit-button"> Edit Profile </button>
      </form>
    </div>        
  </div>

  <div class="row" style="padding:15px;">
  </div>
  
  <% @posts.where({ :poster_id => @current_user.id }).each do |post| %>
      <% vote1 = Vote.where({ :voter_id => @current_user.id, :bestoutfit_id => post.outfit1_id }).first %>
      <% vote2 = Vote.where({ :voter_id => @current_user.id, :bestoutfit_id => post.outfit2_id }).first %>

      <% vote1_count = Vote.where({ :bestoutfit_id => post.outfit1_id }).all.count %>
      <% vote2_count = Vote.where({ :bestoutfit_id => post.outfit2_id }).all.count %>

      <% style1 = Outfit.where({ :id => post.outfit1_id }).first %>
      <% style1_image = style1.image %>

      <% style2 = Outfit.where({ :id => post.outfit2_id }).first %>
      <% style2_image = style2.image %>   

      <% post_event = Event.where({ :id => post.event_id }).first %>
      <% event_tag = post_event.tag %>

    <div class="row">
      <div class="col-8">
        <span class="span-timestamp" style="font-size:80%"> <%= time_ago_in_words(post.created_at) %> ago </span>
      </div>
      <div class="col-1">
      </div>
      <div class="col-3">
        <div class="event-tag">
          <span class="text-bottom"> <%= event_tag %> </span>
        </div>
      </div>
      <div class="col-6">
        <div class="shadow bg-white rounded">
          <% if vote1_count > vote2_count %>
          <div class="card" style="background:Tomato; color:White;">
          <% else %>
          <div class="card" style="background:White; color:White;">
          <% end %>
            <img src="<%= cloudinary_url(style1_image, :crop=>"fit")%>" class="card-img-top">
            <div class="card-body">
              <% if vote1_count > vote2_count %>
                <p class="card-text" style="font-family:'Pacifico';"> 
                  Looksy: "This is the one!"
                </p>
                <p>
                  <i class="far fa-heart"></i>
                  <%= vote1_count %> votes
                </p>
              <% else %>
                <p class="card-text"> 
                  Looksy: "This is the one!"
                </p>
                <p style="color:Tomato;"> 
                  <i class="far fa-heart"></i>
                  <%= vote1_count %> votes
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="shadow bg-white rounded">
          <% if vote2_count > vote1_count %>
          <div class="card" style="background:Tomato; color:White;">
          <% else %>
          <div class="card" style="background:White; color:White;">
          <% end %>
            <img src="<%= cloudinary_url(style2_image, :crop=>"fit")%>" class="card-img-top">
            <div class="card-body">
              <% if vote2_count > vote1_count %>
                <p class="card-text" style="font-family:'Pacifico';"> 
                  Looksy: "This is the one!"
                </p>
                <p>
                  <i class="far fa-heart"></i>
                  <%= vote2_count %> votes
                </p>
              <% else %>
                <p class="card-text"> 
                  Looksy: "This is the one!"
                </p>
                <p style="color:Tomato;"> 
                  <i class="far fa-heart"></i>
                  <%= vote2_count %> votes
                </p>
              <% end %>
            </div>
          </div>   
        </div>
      </div>
    </div>
    
    <div class="row" style="height:20px;">
    </div>
  <%end%>

</div>