<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Post #<%= @post.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/posts" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_post/<%= @post.id %>" class="btn btn-block btn-outline-secondary">
          Delete post
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @post.user_id %>
      </dd>

      <dt>
        Outfit1
      </dt>
      <dd>
        <%= @post.outfit1_id %>
      </dd>

      <dt>
        Outfit2
      </dt>
      <dd>
        <%= @post.outfit2_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@post.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@post.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit post
    </h2>

    <form action="/modify_post/<%= @post.id %>"  method="post" >
      <div class="form-group">
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="user_id_from_query" class="form-control" value="<%= @post.user_id %>">
      </div>

      <div class="form-group">
        <label for="outfit1_id_box">
          Outfit1
        </label>

        <input type="text" id="outfit1_id_box" name="outfit1_id_from_query" class="form-control" value="<%= @post.outfit1_id %>">
      </div>

      <div class="form-group">
        <label for="outfit2_id_box">
          Outfit2
        </label>

        <input type="text" id="outfit2_id_box" name="outfit2_id_from_query" class="form-control" value="<%= @post.outfit2_id %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update post
      </button>
    </form>
  </div>
</div>

<hr>
