
<div class="container">
    <div class="row Header">
        <div class="col-sm-12" align="center"> 
        <h1> Your Feed </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4"> 
        </div>
        <div class="col-lg-4" align="center">
            <body> 
              <form action="/new_post">
                <button> Upload a new post </button>
              </form>
            </body>
        </div>
        <div class="col-lg-4">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12"></div>
    </div>

    <hr>
    <div class="row">
        <div class="col-lg-2"> Outfit 1 </div>
        <div class="col-lg-2"> Likes </div>
        <div class="col-lg-2"> Outfit 2 </div>
        <div class="col-lg-2"> # of Likes </div>
        <div class="col-lg-2"> Rosey's Vote </div>
        <div class="col-lg-2"> Created </div>
    </div>

  <% @posts.where({ :poster_id => @current_user.id }).each do |post| %>
    <% style1 = Outfit.where({ :id => post.outfit1_id }).first %>
    <% style1_image = style1.image %>

    <% style2 = Outfit.where({ :id => post.outfit2_id }).first %>
    <% style2_image = style2.image %>

    <div class="row">
        <div class="col-lg-2"> <img height=100 src="<%= style1_image %>" class="img-responsive"> </div>
        <div class="col-lg-2"> <%= Vote.where({ :post_id => post.id, :bestoutfit_id => post.outfit1_id }).count %> </div>
        <div class="col-lg-2"> <img height=100 src="<%= style2_image %>" class="img-responsive"> </div>
        <div class="col-lg-2"> <%= Vote.where({ :post_id => post.id, :bestoutfit_id => post.outfit2_id }).count %> </div>
        <div class="col-lg-2">       
          <% if Vote.where({ :post_id => post.id, :bestoutfit_id => post.outfit1_id }).count >
            Vote.where({ :post_id => post.id, :bestoutfit_id => post.outfit2_id }).count %>
              You should wear Outfit 1! 
            <% elsif Vote.where({ :post_id => post.id, :bestoutfit_id => post.outfit2_id }).count > 
            Vote.where({ :post_id => post.id, :bestoutfit_id => post.outfit1_id }).count %>
              You should wear Outfit 2!
            <% else %>
              The Jury is still out!
          <% end %> 
        </div>
        <div class="col-lg-2"> <%= time_ago_in_words(post.created_at) %> ago </div>
    </div>
  <% end %>
</div>