<style>

  .button {
    background-color: White; /* Blue background */
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
}

  .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: medium LightGray solid;
  }

  .button {
    background-color: rgba(255, 99, 71, 0);
    border: none;
    cursor: pointer;
}

  .edit-button {
    background-color: rgba(255, 99, 71, 0);
    border: none; /* Remove borders */
    cursor: pointer; /* Mouse pointer on hover */
    color: White;
  }

  .btn-edit-profile {
    border-radius: 8px;
    background-color: rgba(255, 99, 71, 0.6);
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80px;
    height: 25px;
    vertical-align: center;
    text-align: center;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: White;
    font-size: 10px;
  }

  .flex-user {
    display: inline-flex;
    width: 100%;
    padding-top: 5%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
  }

    .arrow-left {
    position: absolute;
    background-color: none;
    left: 2%;
    top: 0%;
    z-index: 1;
    color: Tomato;
    border-radius: 50%;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    font-family: 'Pacifico', cursive;
  }

  .arrow-right {
    position: absolute;
    background-color: none;
    left: 2%;
    top: 0%;
    z-index: 1;
    color: Tomato;
    border-radius: 50%;
    font-size: 150%;
    text-align: center;
    vertical-align: middle;
    font-family: 'Pacifico', cursive;
  }
</style>

<% poster_username = @selected_user.username %>
<% if @selected_user.headshot_id == nil %>
  <% poster_avatar = "/default-avatar.png" %>
<% else %>
  <% poster_avatar = Headshot.where({ :id => @selected_user.headshot_id }).first.image %>
<% end %>

<div class="container">

<hr>

  <div class="flex-user">
    <img src="<%= poster_avatar %>" class="avatar">
    <span class="span-user" style="font-size:100%; color: rgba(255, 99, 71, 0.7);"> 
      <%= poster_username %> 
    </span>     
  </div>

  <div class="row" style="padding:15px;">
  </div>

  <% @userposts.each do |post| %>
      <% vote1 = Vote.where({ :voter_id => @current_user.id, :bestoutfit_id => post.outfit1_id }).first %>
      <% vote2 = Vote.where({ :voter_id => @current_user.id, :bestoutfit_id => post.outfit2_id }).first %>

      <% vote1_count = Vote.where({ :bestoutfit_id => post.outfit1_id }).all.count %>
      <% vote2_count = Vote.where({ :bestoutfit_id => post.outfit2_id }).all.count %>

      <% style1 = Outfit.where({ :id => post.outfit1_id }).first %>
      <% style1_image = style1.image %>

      <% style2 = Outfit.where({ :id => post.outfit2_id }).first %>
      <% style2_image = style2.image %>   

    <div class="row">

      <div class="col-8">
        <span class="span-timestamp" style="font-size:80%"> <%= time_ago_in_words(post.created_at) %> ago </span>
      </div>
      <div class="col-1">
      </div>
      <div class="col-3">
      </div>

    <div class="row" style="padding-bottom:7%;">
    </div>

      <div class="col-6">
        <div class="shadow bg-white rounded">
          <% if vote1_count > vote2_count %>
          <div class="card" style="background:Tomato; color:White;">
          <% else %>
          <div class="card" style="background:White; color:White;">
          <% end %>
            <img src="<%= cloudinary_url(style1_image, :crop=>"fit")%>" class="card-img-top">
            <% if vote1 == nil && vote2 ==nil %>
              <%= form_with(model: @insert_vote) do |f| %>
                <input type="hidden" value="<%= post.id %>" name="post_id_from_query">
                <input type="hidden" value="<%= post.outfit1_id %>" name="bestoutfit_id_from_query">   
                <button class="button"> 
                <div class="arrow-left">
                  <p> <i class="far fa-heart"></i></p>
                </div> 
                </button>
              <% end %>
            <% elsif vote1 == nil %>
              <div class="arrow-left">
                <p> <i class="far fa-heart"></i></p>
              </div> 
            <% elsif vote1 != nil %>
              <div class="arrow-left">
                <p> <i class="fas fa-heart"></i></p>
              </div> 
            <% end %>
            <div class="card-body">
              <% if vote1_count > vote2_count %>
                <p class="card-text" style="font-family:'Pacifico';"> 
                  Looksy: "This is the one!"
                </p>
              <% else %>
                <p class="card-text"> 
                  Looksy: "This is the one!"
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="shadow bg-white rounded">
          <% if vote2_count > vote1_count %>
          <div class="card" style="background:Tomato; color:White;">
          <% else %>
          <div class="card" style="background:White; color:White;">
          <% end %>
            <img src="<%= cloudinary_url(style2_image, :crop=>"fit")%>" class="card-img-top">
              <% if vote1 == nil && vote2 ==nil %>
                <%= form_with(model: @insert_vote) do |f| %>
                  <input type="hidden" value="<%= post.id %>" name="post_id_from_query">
                  <input type="hidden" value="<%= post.outfit2_id %>" name="bestoutfit_id_from_query">   
                  <button class="button"> 
                  <div class="arrow-left">
                    <p> <i class="far fa-heart"></i></p>
                  </div> 
                  </button>
                <% end %>
              <% elsif vote2 == nil %>
                <div class="arrow-left">
                  <p> <i class="far fa-heart"></i></p>
                </div> 
              <% elsif vote2 != nil %>
                <div class="arrow-left">
                  <p> <i class="fas fa-heart"></i></p>
                </div> 
              <% end %>
            <div class="card-body">
              <% if vote2_count > vote1_count %>
                <p class="card-text" style="font-family:'Pacifico';"> 
                  Looksy: "This is the one!"
                </p>
              <% else %>
                <p class="card-text"> 
                  Looksy: "This is the one!"
                </p>
              <% end %>
            </div>
          </div>   
        </div>
      </div>

    </div>

    <div class="row" style="padding-bottom:3%;">
    </div>

    <div class="row" style="height:20px;">
    </div>
  <%end%>

  <div class="row" style="height:100px;">
    </div>

</div>