<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Headshot #<%= @headshot.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/headshots" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_headshot/<%= @headshot.id %>" class="btn btn-block btn-outline-secondary">
          Delete headshot
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <%= @headshot.image %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@headshot.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@headshot.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit headshot
    </h2>

    <form action="/modify_headshot/<%= @headshot.id %>"  method="post" >
      <div class="form-group">
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="image_from_query" class="form-control" value="<%= @headshot.image %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update headshot
      </button>
    </form>
  </div>
</div>

<hr>
