<!DOCTYPE html>
<html>
  <head>

    <title> Looksy </title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Connect Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/e8d4476375.js" crossorigin="anonymous"></script>

    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/minty/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <!-- Add Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Nunito|Pacifico&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    </head>

<style>

  .nav-button {
    background-color: rgba(255, 99, 71, 0);
    border: none;
    color: Tomato;
    text-align: center; !important;
    cursor: pointer; /* Mouse pointer on hover */
    height: 50px;
    font-size:25px;
}

</style>

<body>
  
  <% if @current_user != nil %>
  
    <div class="container">
      <div class="row Running-Header">
          <div class="col-7">
            <a href="/feed" style="font-size:200%; color:Tomato; text-decoration: none;"> 
              Looksy
            </a>
          </div>
          <div class="col-2 pt-3">
            <a href="/about_int" style="font-size:80%; ; color:Gray; text-decoration: none;">
              About
            </a>
          </div>
          <div class="col-3 pt-3">
            <a href="/sign_out" style="font-size:80%; color:Gray; text-decoration: none;">
              Sign Out
            </a>
          </div>
      </div>
    </div>

    <nav class="navbar fixed-bottom" style="height:60px; background-color:WhiteSmoke;">
      <a class="nav-link" href="/feed"> <button class="nav-button"> 
        <i class="fas fa-home"></i> 
          </button> <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/new_post"> <button class="nav-button"> 
        <i class="far fa-plus-square"></i>
          </button></a>
      <a class="nav-link" href="/feed/profile"> <button class="nav-button"> 
        <i class="fas fa-female"></i>
          </button></a>
    </nav>
  
  <% else %>
  <% end %>

  <%= yield %>


</body>

</html>
